.App {
  background-color: rgb(107, 157, 211);
   

}

aside {
  padding: 5%;
  background-color: rgb(0, 0, 0); 
  width: 25vh;
  height: 100vh; 
  float: left;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 29px;
  padding-bottom: 50px;
}

.link-home {
  padding-bottom: 50px;
}

.link-land {
  font-size: 30px; 
  color: aliceblue;
}

.home-section {
  background-color: rgb(10, 23, 97);

  width: 104.9vh;
  height: 100vh; 
  float: right;
  padding: 5%;
}

#holdbeer {
  height: 50%;
  margin: 15%;
}